body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background-color: #00000095;
    color: white;
}

div.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 5px solid red;
    top: 50%;
}

h1.intro {
    padding: 1rem;
    margin: 0px;
}
